@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;  
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}
i{
    font-size: 10px !important;
    font-weight: 300;
}
#screen1, #screen2, #screen3{
    line-height: 45px;
}
#screen1 input{
    /* height: 40px; */
    border: 1px solid rgb(185, 185, 185);
}
#screen1 span{
    margin-right: 20px;
}
#screen2, #screen3, #dysentery, #screen4, #severe-persistent-diarrhoea, #persistent-diarrhoea, #severe-dehydration, #some-dehydration, #no-dehydration, #dateerror, #nameerror, #contacterror, #adderror{
    display: none;
}

@media screen and (min-width: 1024px) {
    .row{
        width: 65%;
        margin: 0px auto;
    }
}