@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto:wght@300&display=swap');


.text-danger{
    color: #0069d9 !important;
}
.btn-danger{
    background: #0069d9 !important;
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;  
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

#info{
    cursor: pointer;
}
#myDIV{
    position: absolute;
    border: 2px solid blue;
    background: #fff;
    padding: 30px;
    z-index: 9999;
}

/* radio button */

.wrapper{
    display: inline-flex;
    /* background: #fff; */
    height: 100px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 20px;
    /* box-shadow: 5px 5px 30px rgba(0,0,0,0.2); */
  }
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    /* background: #d9d9d9; */
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  #option-1, #option-2{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }

i{
    font-size: 8px !important;
    font-weight: normal;
    color: red !important   ;
}
#screen1, #screen2, #screen3{
    line-height: 45px;
}
#screen1 input{
    /* height: 40px; */
    border: 1px solid rgb(185, 185, 185);
}
#screen1 span{
    margin-right: 20px;
}
#screen2, #screen3, #dysentery, #screen4, #severe-persistent-diarrhoea, #persistent-diarrhoea, #severe-dehydration, #some-dehydration, #no-dehydration, #dateerror, #nameerror, #contacterror, #adderror{
    display: none;
}

@media screen and (min-width: 1024px) {
    .row{
        width: 65%;
        margin: 0px auto;
    }
}